apiVersion: v1
kind: Service
metadata:
  name: discount-service
  namespace: dr3-at
  labels:
    app: discount-service
spec:
  type: ClusterIP
  ports:
  - port: 8082
    targetPort: 8082
    protocol: TCP
    name: http
  selector:
    app: discount-service

