apiVersion: v1
kind: Service
metadata:
  name: product-service
  namespace: dr3-at
  labels:
    app: product-service
spec:
  type: ClusterIP
  ports:
  - port: 8081
    targetPort: 8081
    protocol: TCP
    name: http
  selector:
    app: product-service

